{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>SHRI GANPATI DOON STELL</h1><br>
      <!-- <p> WE HAVE <span class="typed mx-8" data-typed-items=" WINDOW FRAMES,  DOORS FRAMES ,  JANANESE MACHINE For EFFICIENCY"></span></p> -->
      <p>Shri Ganpati Doon Steel  is the  Wholesale Shop for the all new japanese technology designed window , door frames with the life time rust free  guarntee.<br>
    <b>SHRI GANPATI DOON STELL </b>  was Established in the 2023 and we  serve the more than 30+ customers til.
<br> for more Information click on contact us button show on top ......
</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
   <h1 class ="mx-5">
    OWNERS :--
   </h1><br>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>PRADEEP SHARMA </h2>
        <img src='C:\Users\hp\Desktop\django\ecom\ds\media\shop\images\kunal.png' width="233px" height="185px">
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>RANTESH </h2>
        <img src="https://images.ctfassets.net" width="233px" height="185px">
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>KUNAL SHARMA </h2>
        <img src="https://images.ctfassets.net" width="233px" height="185px">
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
